#welcome {
    text-align: center;
    font-size: 150%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#news {
    width: 50%;
}
#news h3 {
    font-family: sans-serif;
}

img {
    width: 40%;
    height: 40%;
}