#welcome {
    text-align: center;
    font-size: 150%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#news {
    width: 50%;
    margin-left: 5em;
}

#news h2 {
    font-size: 3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 0px;
}
#news h3 {
    font-family: sans-serif;
}

#news article {
    border: 5px solid gray;
    padding: 10px;
    margin: 10px;
}
img {
    width: 40%;
    height: 40%;
}